=link_to "Back", :back

%h2
  bar chart w/ interaction, v5
  =link_to("tutorial", "https://jsfiddle.net/matehu/w7h81xz2/")

#layout
  #container
    %svg.barWrap

%script{:charset => "utf-8", :src => "https://d3js.org/d3.v5.min.js"}
