=link_to "Back", :back

%h2 D3 tutorials, v3

%section
  %p
    manually connecting the dots
    %span=link_to('tut ref', 'http://thinkingonthinking.com/Getting-Started-With-D3/')
#grapho

%section
  %p
    load TSV & make a basic bar chart
    %span=link_to('tut ref', 'https://bost.ocks.org/mike/bar/')
  %div
    %svg.bb-chart


%section
  %p
    vertical chart
    %span=link_to('tut ref', 'https://bost.ocks.org/mike/bar/3/')
  %div
    %svg.chart



%script{:charset => "utf-8", :src => "//d3js.org/d3.v3.min.js"}
