=link_to "Back", :back

%h2 D3 tutorials

%p
  manually connecting the dots
  %span=link_to('tut ref', 'http://thinkingonthinking.com/Getting-Started-With-D3/')
#graph

%p
  basic bar charts
  %span=link_to('tut ref', 'https://bost.ocks.org/mike/bar/')
#basicBar
