=link_to "Back", :back

%h2
  Concept Map, v3.5.3
  =link_to("tutorial", "https://github.com/gp187/d3-concept-map")

%h3 work in progress

#graph.conceptmap
  #graph-info

%script{:charset => "utf-8", :src => "https://code.jquery.com/jquery-2.1.3.min.js"}
%script{:charset => "utf-8", :src => "https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"}
%script{:charset => "utf-8", :src => "https://coab-alchemy-attachments.s3.amazonaws.com/packages.js"}
%script{:charset => "utf-8", :src => "https://coab-alchemy-attachments.s3.amazonaws.com/concept-map.js"}

//%script{:charset => "utf-8", :src => "https://d3js.org/d3.v4.min.js"}
