%h2 D3 Learnings

%p
  =link_to('the basics',basicTutorials_path)

%p
  =link_to('bar chart',barChart_path)

%p
  =link_to('pie chart', pieChart_path)

%p
  =link_to('reusable bar chart',"#")

%p
  =link_to('scatter plot', '#')

%p
  =link_to('geographic map chart', '#')

%p
  =link_to('force directed graph', '#')

%p
  =link_to('bubble chart', '#')

%p
  =link_to('conceptual relationshihp map', '#')

%p
  =link_to('sankey diagrams', '#')

%p
  =link_to('Parallel Coordinates', '#')

%p
  =link_to('color scheming', '#')

%p
  =link_to('sunburst', '#')

%p
  =link_to('aimations and transitions', '#')
