%h2 D3 Learnings

%p
  =link_to('the basics',basicTutorials_path)

%p
  =link_to('bar chart',barChart_path)

%p
  =link_to('sankey diagrams', sankey_path)

%p
  =link_to('reusable bar chart',"#", :class => "strikethrough")

%p
  =link_to('scatter plot', '#', :class => "strikethrough")

%p
  =link_to('geographic map chart', '#', :class => "strikethrough")

%p
  =link_to('force directed graph', '#', :class => "strikethrough")

%p
  =link_to('bubble chart', '#', :class => "strikethrough")

%p
  =link_to('conceptual relationshihp map', '#', :class => "strikethrough")

%p
  =link_to('doughnut chart', pieChart_path, :class => "strikethrough")

%p
  =link_to('Parallel Coordinates', '#', :class => "strikethrough")

%p
  =link_to('color scheming', '#', :class => "strikethrough")

%p
  =link_to('sunburst', '#', :class => "strikethrough")

%p
  =link_to('aimations and transitions', '#', :class => "strikethrough")

%p
  =link_to('D3 in wordpress', '#', :class => "strikethrough")
