%section.tutorials
  =render "tutList"

%section.references
  %h2 References
  %h4 D3 official
  %ul
    %li
      =link_to('docs', 'https://github.com/d3/d3/wiki')
    %li
      =link_to('gallery', 'https://github.com/d3/d3/wiki/gallery')
  %h4 Galleries
  %ul
    %li
      =link_to('graph gallery', 'https://www.d3-graph-gallery.com/')
    %li
      =link_to('filterable graph gallery', 'http://biovisualize.github.io/d3visualization/#visualizationType=map')
  %h4 Tutorials
  %ul
    %li
      =link_to('big d3 list', 'https://christopheviau.com/d3list/')
    %li
      =link_to('How to Learn D3.js','https://wattenberger.com/blog/d3')
