=link_to "Back", :back

%h2
  Sankey, v4
  =link_to("tutorial", "https://bl.ocks.org/d3noob/06e72deea99e7b4859841f305f63ba85")



%script{:charset => "utf-8", :src => "https://d3js.org/d3.v4.min.js"}
%script{:charset => "utf-8", :src => "https://coab-alchemy-attachments.s3.amazonaws.com/_sankey.js"}
